.detail-listing {
    width: 240px;
    margin: auto;
}

.img-div {
    display: flex;
    justify-content: center;
}

.detail-img {
    width: 240px;
    height: 320px;
    object-fit: contain;
}

.detail-info {
    display: flex;
    justify-content: space-between;
}

.detail-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.detail-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8rem;
}

.detail-size {
    font-weight: 700;
}

.detail-price {
    font-weight: 500;
}

.seller-info {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    font-weight: 500;
}

.seller-info>div>img {
    height: 40px;
    width: 40px;
}

@media only screen and (min-width: 1024px) {
    .detail-listing {
        width: 450px;
        margin: auto;
    }

    .detail-img {
        width: 390px;
        height: 520px;
        object-fit: contain;
    }

    .detail-name, .detail-size, .detail-price {
        font-size: 1.2rem;
    }

    .detail-description {
        font-size: 1.1rem;
    }
    
    .seller-info {
        font-size: 1.1rem;
    }
    
    .seller-info>div>img {
        height: 45px;
        width: 45px;
    }
}