.home {
    background-image: url(https://imgur.com/n7JQjje.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.home > h1 {
    color: white;
}